@charset "UTF-8";

/**
 * ==== TABLE OF COLORS ===
 *
 * Yellow		: #F1C40F;
 * YellowDark	: #F7AB13;
 * Red			: #F2295E;
 * RedDark		: #CB234F;
 * Green		: #1F9AF9;
 * GreenDark	: #1F9AF9;
 * Dark			: #23282d;
 * GrayLight	: #F2F2F6;
 * GrayMedium	: #5A626F;
 * GrayDark		: #393E46;
 *
 */

/**
 * Secupress Text Colors
 */
.movelogin-gray.movelogin-gray {
	color: #9B9B9B;
}
.movelogin-gray-medium.movelogin-gray-medium {
	color: #5A626F;
}
.movelogin-primary.movelogin-primary {
	color: #1F9AF9;
}
.movelogin-secondary.movelogin-secondary {
	color: #CB234F;
}
.movelogin-tertiary.movelogin-tertiary {
	color: #F7AB13;
}

/**
 * === Usual Classes
 */

/* Row (vertical spacing) */
.movelogin-row {
	clear: both;
	margin: 35px 0;
}
div.movelogin-notif {
	background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 5px 0 15px;
    padding: 1px 12px;
}
div.movelogin-error {
    border-left-color: #d63638;
}
/* Inline-block */
.movelogin-ib {
	display: inline-block;
}
.movelogin-ib.movelogin-flex {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.movelogin-childs-ib > * {
	display: inline-block;
	vertical-align: middle;
}
.movelogin-ib-spaced > * {
	margin: 0 .75em;
}

/* Flexboxes */
.movelogin-vcenter {
	align-self: center;
}
.movelogin-vnormal {
	align-self: normal;
}
.movelogin-flex-spaced {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.movelogin-flex-top {
	-webkit-box-align: initial;
	-webkit-align-items: initial;
	-ms-flex-align: initial;
	-ms-grid-row-align: initial;
	align-items: initial;
}
.movelogin-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.movelogin-flex-col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* Column */
.movelogin-flex-spaced > * {
	flex-grow: 0;
}
.movelogin-flex-spaced > [class^="movelogin-col-"] {
	width: auto;
	-webkit-flex-basis: auto;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}
.movelogin-full-wide {
	width: 100%;
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}

/* Font Style */
.movelogin-italic.movelogin-italic {
	font-style: italic;
}
.movelogin-bold.movelogin-bold {
	font-weight: bold;
}

/* alignments */
.movelogin-text-start {
	text-align: left;
}
.movelogin-text-center {
	text-align: center;
}
.movelogin-text-end {
	text-align: right;
}

/* floating */
.movelogin-start {
	float: left;
}
.movelogin-end {
	float: right;
}
.movelogin-clear {
	clear: both;
}
.movelogin-clearfix:after,
.movelogin-section:after {
	content: "";
	display: table;
	clear: both;
}

/* Spacing */
.movelogin-m0.movelogin-m0 {
	margin: 0;
}
.movelogin-mt0.movelogin-mt0 {
	margin-top: 0;
}
.movelogin-mt1.movelogin-mt1 {
	margin-top: 1em;
}
.movelogin-mt2.movelogin-mt2 {
	margin-top: 2em;
}
.movelogin-mb0.movelogin-mb0 {
	margin-bottom: 0;
}
.movelogin-mb1.movelogin-mb1 {
	margin-bottom: 1em;
}
.movelogin-mb2.movelogin-mb2 {
	margin-bottom: 2em;
}

.movelogin-p0.movelogin-p0 {
	padding: 0;
}
.movelogin-p1.movelogin-p1 {
	padding: 1em;
}
.movelogin-p2.movelogin-p2 {
	padding: 2em;
}
.movelogin-p3.movelogin-p3 {
	padding: 3em;
}
.movelogin-pt0.movelogin-pt0 {
	padding-top: 0;
}
.movelogin-pt1p.movelogin-pt1p {
	padding-top: 1px;
}
.movelogin-pb1.movelogin-pb1 {
	padding-bottom: 1em;
}
.movelogin-pb2.movelogin-pb2 {
	padding-bottom: 2em;
}
.movelogin-pt1.movelogin-pt1 {
	padding-top: 1em;
}
.movelogin-pt2.movelogin-pt2 {
	padding-top: 2em;
}
.movelogin-pr1.movelogin-pr1 {
	padding-right: 1em;
}

/**
 * === Main Sections
 */
.movelogin-section,
[class^="movelogin-section-"] {
	padding: 25px;
}
.movelogin-section > :first-child,
[class^="movelogin-section-"] > :first-child,
.movelogin-heading > :first-child,
.movelogin-col > :first-child {
	margin-top: 0;
}
.movelogin-section > :last-child,
[class^="movelogin-section-"] > :last-child,
.movelogin-heading > :last-child,
.movelogin-col > :last-child {
	margin-bottom: 0;
}

.movelogin-box-shadow {
	background: #FFF;
	box-shadow: 0 10px 15px rgba(34, 40, 49, .2);
}

/* Border in sections */
.movelogin-bordered {
	border: 1px solid #CCC;
}
.movelogin-lined {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.movelogin-lined-b {
	border-bottom: 1px solid #CCC;
}
.movelogin-bordered-lat {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.movelogin-heading {
	padding: 1px 0 20px;
}
.movelogin-section-mini {
	padding: 5px 20px;
}
.movelogin-section-mini .movelogin-col-icon {
	flex-basis: 5%;
	flex-grow: 0;
	font-size: 30px;
	text-align: center;
	color: rgba(255, 255, 255, 0.25);
}
.movelogin-pro-icon {
	-webkit-filter: drop-shadow( 0px 0px 10px #F19B12);
	filter: drop-shadow( 0px 0px 10px #F19B12);
}

/* Buttons container */
.movelogin-actions-line {
	margin: 30px -10px 20px;
}
.movelogin-actions-line [class*="movelogin-button"] {
	margin: 0 10px;
}

/* Pro button with right icon */
.movelogin-go-pro.movelogin-go-pro {
	overflow: hidden;
	position: relative;
	padding: 4px 40px 4px 10px;
	background: #1F9AF9;
}
.movelogin-go-pro.movelogin-go-pro:hover,
.movelogin-go-pro.movelogin-go-pro:focus {
	background: #1F9AF9;
}
.movelogin-go-pro i {
	position: absolute;
	right: -10px; top: -7px;
	font-size: 38px;
}

/* Link + icon */
.movelogin-link-icon {
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0.125em;
}
.movelogin-link-icon .icon,
.movelogin-link-icon .text {
	display: inline-block;
	vertical-align: middle;
}
.movelogin-link-icon .icon {
	margin-right: 4px;
	color: #1F9AF9;
}
.movelogin-movelogin-icon-right .icon {
	float: right;
	margin: 0 0 0 4px;
}
.movelogin-link-icon .text {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
}

.movelogin-section-dark .movelogin-link-icon .text {
	color: #fff;
}
.movelogin-section-dark .movelogin-link-icon .text:hover,
.movelogin-section-dark .movelogin-link-icon .text:focus {
	color: #1F9AF9;
}

/* Actions on buttons */
[class^="movelogin-"] button {
	cursor: pointer;
}
.movelogin-activated .visible-when-activated {
	display: block;
	visibility: visible;
}
.movelogin-activated .hidden-when-activated,
.visible-when-activated {
	display: none;
	visibility: hidden;
}
.movelogin-icon-angle-down {
	transition: transform 0.275s;
}
.movelogin-activated .movelogin-icon-angle-down {
	transform: rotate(180deg);
}

/* Some alternative texts in button */
button.movelogin-activated .movelogin-toggle-button {
	display: none;
}
button.movelogin-activated .movelogin-toggle-button.hidden {
	display: block;
}

/* Labels disabled behavior */
[class^="movelogin"] label.disabled {
	cursor: default;
}

/**
 * Checkboxes & Radioboxes
 */

.movelogin-checkbox.movelogin-checkbox:not(:checked),
.movelogin-checkbox.movelogin-checkbox:checked,
.movelogin-radio.movelogin-radio:not(:checked),
.movelogin-radio.movelogin-radio:checked {
	position: absolute;
	opacity: 0.01;
	margin: 3px 0 0 3px;
}
.movelogin-checkbox:not(:checked) + label,
.movelogin-checkbox:checked + label,
.movelogin-checkbox:not(:checked) + .label-text,
.movelogin-checkbox:checked + .label-text,
.movelogin-radio:not(:checked) + label,
.movelogin-radio:checked + label,
.movelogin-radio:not(:checked) + .label-text,
.movelogin-radio:checked + .label-text {
	position: relative;
	display: inline-block;
	padding-left: 32px;
	margin: .3em 0;
}
.movelogin-checkbox:not(:checked) + label:before,
.movelogin-checkbox:checked + label:before,
.movelogin-checkbox:not(:checked) + .label-text:before,
.movelogin-checkbox:checked + .label-text:before,
.movelogin-radio:not(:checked) + label:before,
.movelogin-radio:checked + label:before,
.movelogin-radio:not(:checked) + .label-text:before,
.movelogin-radio:checked + .label-text:before {
	content: "";
	position: absolute;
	left: 0; top: -1px;
	width: 20px; height: 20px;
	border: 2px solid #000;
	border-color: currentColor;
	background: #F2F2F6;
	border-radius: 3px;
	transition: all .275s;
}
.movelogin-checkbox:not(:checked) + label:after,
.movelogin-checkbox:checked + label:after,
.movelogin-checkbox:not(:checked) + .label-text:after,
.movelogin-checkbox:checked + .label-text:after,
.movelogin-radio:not(:checked) + label:after,
.movelogin-radio:checked + label:after,
.movelogin-radio:not(:checked) + .label-text:after,
.movelogin-radio:checked + .label-text:after {
	content: "\f00c";
	position: absolute;
	left: 5px; top: 0;
	font-family: "movelogin";
	font-size: 14px;
	transition: all .275s;
}
.movelogin-checkbox:not(:checked) + label:after,
.movelogin-checkbox:not(:checked) + .label-text:after,
.movelogin-radio:not(:checked) + label:after,
.movelogin-radio:not(:checked) + .label-text:after {
	transform: scale(0);
}
.movelogin-checkbox:checked + label:after,
.movelogin-checkbox:checked + .label-text:after,
.movelogin-radio:checked + label:after,
.movelogin-radio:checked + .label-text:after {
	transform: scale(1);
}
.movelogin-section-light .movelogin-checkbox:not(:checked) + label:before,
.movelogin-section-light .movelogin-checkbox:checked + label:before,
.movelogin-section-light .movelogin-checkbox:not(:checked) + .label-text:before,
.movelogin-section-light .movelogin-checkbox:checked + .label-text:before,
.movelogin-section-light .movelogin-radio:not(:checked) + label:before,
.movelogin-section-light .movelogin-radio:checked + label:before,
.movelogin-section-light .movelogin-radio:not(:checked) + .label-text:before,
.movelogin-section-light .movelogin-radio:checked + .label-text:before {
	background: #FFF;
}
.movelogin-section-dark .movelogin-checkbox:not(:checked) + label:before,
.movelogin-section-dark .movelogin-checkbox:checked + label:before,
.movelogin-section-dark .movelogin-checkbox:not(:checked) + .label-text:before,
.movelogin-section-dark .movelogin-checkbox:checked + .label-text:before,
.movelogin-section-dark .movelogin-radio:not(:checked) + label:before,
.movelogin-section-dark .movelogin-radio:checked + label:before,
.movelogin-section-dark .movelogin-radio:not(:checked) + .label-text:before,
.movelogin-section-dark .movelogin-radio:checked + .label-text:before {
	background: #23282d;
}

/* Disabled */
select + .movelogin_disabled,
input + .movelogin_disabled{
	color:#aaa;
	display:none;
	font-style:italic;
	left:-145px;
	position:relative;
}
select:hover + .movelogin_disabled,
input:hover + .movelogin_disabled{
	display:inline;
}
.movelogin-checkbox:disabled:not(:checked) + label:after,
.movelogin-checkbox:disabled:checked + label:after,
.movelogin-checkbox:disabled:not(:checked) + .label-text:after,
.movelogin-checkbox:disabled:checked + .label-text:after,
.movelogin-radio:disabled:not(:checked) + label:after,
.movelogin-radio:disabled:checked + label:after,
.movelogin-radio:disabled:not(:checked) + .label-text:after,
.movelogin-radio:disabled:checked + .label-text:after {
	opacity: .5;
}
.movelogin-checkbox:disabled:not(:checked) + label:before,
.movelogin-checkbox:disabled:checked + label:before,
.movelogin-checkbox:disabled:not(:checked) + .label-text:before,
.movelogin-checkbox:disabled:checked + .label-text:before,
.movelogin-radio:disabled:not(:checked) + label:before,
.movelogin-radio:disabled:checked + label:before,
.movelogin-radio:disabled:not(:checked) + .label-text:before,
.movelogin-radio:disabled:checked + .label-text:before {
	border-color: #888;
	background: #ddd;
}
.movelogin-section-dark .movelogin-checkbox:disabled:not(:checked) + label:after,
.movelogin-section-dark .movelogin-checkbox:disabled:checked + label:after,
.movelogin-section-dark .movelogin-checkbox:disabled:not(:checked) + .label-text:after,
.movelogin-section-dark .movelogin-checkbox:disabled:checked + .label-text:after,
.movelogin-section-dark .movelogin-radio:disabled:not(:checked) + label:after,
.movelogin-section-dark .movelogin-radio:disabled:checked + label:after,
.movelogin-section-dark .movelogin-radio:disabled:not(:checked) + .label-text:after,
.movelogin-section-dark .movelogin-radio:disabled:checked + .label-text:after {
	color: rgba(0,0,0,.5);
}

/* Checkboxes mini */
.movelogin-checkbox-mini:not(:checked) + label:before,
.movelogin-checkbox-mini:checked + label:before,
.movelogin-checkbox-mini:not(:checked) + .label-text:before,
.movelogin-checkbox-mini:checked + .label-text:before {
	width: 16px;
	height: 16px;
}
.movelogin-checkbox-mini:not(:checked) + label,
.movelogin-checkbox-mini:checked + label,
.movelogin-checkbox-mini:not(:checked) + .label-text,
.movelogin-checkbox-mini:checked + .label-text {
	margin: 0.15em 0;
	padding-left: 28px;
}
.movelogin-checkbox-mini:not(:checked) + label:after,
.movelogin-checkbox-mini:checked + label:after,
.movelogin-checkbox-mini:not(:checked) + .label-text:after,
.movelogin-checkbox-mini:checked + .label-text:after {
	left: 4px;
	font-size: 12px;
}
.movelogin-setting-row .movelogin-checkbox-mini.movelogin-checkbox-mini:not(:checked) + label:after,
.movelogin-setting-row .movelogin-checkbox-mini.movelogin-checkbox-mini:checked + label:after,
.movelogin-setting-row .movelogin-checkbox-mini.movelogin-checkbox-mini:not(:checked) + .label-text:after,
.movelogin-setting-row .movelogin-checkbox-mini.movelogin-checkbox-mini:checked + .label-text:after {
	top: 0;
}
.movelogin-setting-row .movelogin-checkbox-mini.movelogin-checkbox-mini:not(:checked) + label:before,
.movelogin-setting-row .movelogin-checkbox-mini.movelogin-checkbox-mini:checked + label:before,
.movelogin-setting-row .movelogin-checkbox-mini.movelogin-checkbox-mini:not(:checked) + .label-text:before,
.movelogin-setting-row .movelogin-checkbox-mini.movelogin-checkbox-mini:checked + .label-text:before {
	top: 0;
}

.movelogin-setting-row_file-scanner_file-scanner p.description.help{
	display: block;
}

/* Indeterminate styles */
.movelogin-checkbox.movelogin-checkbox:indeterminate + label:after,
.movelogin-checkbox.movelogin-checkbox:indeterminate + .label-text:after {
	content: "";
	width: 12px;
	height: 3px;
	background: #1F9AF9;
	border-radius: 3px;
	top: 8px!important;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.movelogin-item-all.disabled {
	background: rgba(0,0,0,0.02);
}

.movelogin-item-all.disabled * {
    opacity: 0.75;
}

.movelogin-item-all.disabled .movelogin-checkbox:not(:checked) + .label-text:before {
    border-color: #999 !important;
    background: rgba( 0, 0, 0, 0.2 );
    cursor: not-allowed;
}

/* Specific for radios */
.movelogin-radio:not(:checked) + label:before,
.movelogin-radio:checked + label:before,
.movelogin-radio:not(:checked) + .label-text:before,
.movelogin-radio:checked + .label-text:before {
	border-radius: 100%;
}
.movelogin-radio:not(:checked) + label:after,
.movelogin-radio:checked + label:after,
.movelogin-radio:not(:checked) + .label-text:after,
.movelogin-radio:checked + .label-text:after {
	/* The check mark */
	content: "";
	width: 12px; height: 12px;
	top: 4px; left: 6px;
	background: #1F9AF9;
	border-radius: 100%;
}

/* Labels before checkboxes or radio */
.label-before-text {
	display: inline-block;
}

/**
 * === Other Form items
 */
[class^="movelogin-"] input[type="text"],
[class^="movelogin-"] input[type="url"],
[class^="movelogin-"] input[type="number"],
[class^="movelogin-"] input[type="email"],
[class^="movelogin-"] input[type="password"],
[class^="movelogin-"] input[type="number"],
[class^="movelogin-"] input[type="tel"] {
	border: 2px solid #ECF0F1;
	font-size: 13px;
	padding: 7px 10px;
	height: auto;
}

/* Sweet alert childrens */
.movelogin-swal-form.movelogin-swal-form input {
	display: inline-block;
	margin: 0;
}
.movelogin-swal-form .movelogin-block-label label {
	display: block;
	margin: 1em 0 0.5em;
	color: #5A626F;
	font-weight: bold;
	font-size: 13px;
}
.movelogin-swal-form .movelogin-block-label {
	text-align: left;
}
.movelogin-swal-form i {
	color: #1F9AF9;
	margin-right: 5px;
}
.movelogin-block-label input {
	width: 100%;
}
.movelogin-swal-form {
	width: 400px;
	max-width: 100%;
	margin: 0 auto;
	text-align: left;
}
.movelogin-swal-form h4 + .description {
	display: block;
	margin: -.33em 0 1em;
	font-size: 1em;
}
.movelogin-boxed-group,
.movelogin-scrollable {
	max-height: 370px;
	overflow-y: auto;
}
.movelogin-boxed-group,
.movelogin-group {
	margin-top: 1em;
}
.movelogin-boxed-group {
	max-height: 20em;
	padding: 0 0 .2em .5em;
	border: solid 1px #dfdfdf;
}
.movelogin-swal-form .movelogin-boxed-group {
	max-height: 8.5em;
}
.movelogin-boxed-group > legend,
.movelogin-group > legend {
	margin-bottom: .5em;
}
.movelogin-boxed-group > fieldset,
.movelogin-group > fieldset {
	margin-left: .875em;
}
.movelogin-boxed-group > li,
.movelogin-group > li {
	margin: .6em .5em .4em 0;
}
.movelogin-boxed-group > li + li,
.movelogin-group > li + li {
	margin-top: .4em;
}
.movelogin-boxed-group > .movelogin-large-row,
.movelogin-group > .movelogin-large-row {
	margin: 4px .5em 0 0;
}
.movelogin-boxed-group > .movelogin-large-row + .movelogin-large-row,
.movelogin-group > .movelogin-large-row + .movelogin-large-row {
	padding-top: 4px;
	border-top: 1px solid #ccc;
}
.movelogin-swal-form .show-input ul {
	margin-top: 0;
}
.movelogin-swal-form label .more-info {
	font-size: 13px;
	font-style: italic;
}

/* Big spinner */
.hidden .movelogin-big-spinner {
	animation-play-state: paused;
}
.movelogin-big-spinner {
	display: inline-block;
	animation: 3s linear 0s infinite loading;
}
@keyframes loading {
	100% {
		transform: rotate(1turn);
	}
}

/* Swal alternative styles */
body[class*="movelogin"] .sweet-overlay {
	background: rgba(57, 62, 70, .8);
}
.movelogin-swal-dark-header .sweet-icon,
.movelogin-swal-dark-header .sa-icon {
	display: none!important;
}
.movelogin-swal-dark-header.movelogin-swal-dark-header.movelogin-swal2 h2 {
	margin: -20px -20px 20px;
	padding: 5px 55px 5px 20px;
	text-align: left;
	color: #FFF;
	background: #23282d;
}
.movelogin-swal-dark-header.movelogin-text-center.movelogin-swal2 h2 {
	text-align: center;
	padding: 15px 50px 10px;
}
.movelogin-swal-header-imaged {
	display: block;
	margin: 0;
	padding: 20px 0;
}
.movelogin-where-info.movelogin-where-info {
	margin-top: .5em;
	text-align: left;
}
.movelogin-where-info a {
	vertical-align: 3px;
	font-size: 11px;
}

/**
 * === Counters
 */
.movelogin-counter {
	counter-reset: sp;
}
.movelogin-counter .movelogin-counter-inc,
.movelogin-counter .movelogin-col,
.movelogin-counter [class^="movelogin-col-"] {
	counter-increment: sp;
}
.movelogin-counter .movelogin-counter-put:before {
	content: counters(sp, 'decimal');
}
.movelogin-counter .movelogin-counter-put-after:after {
	content: counters(sp, 'decimal');
}

/**
 * == Labels
 */
.movelogin-label {
	display: inline-block;
	padding: 2px 10px;
	border: 1px solid #5A626F;
	font-size: 11px;
	font-weight: bold;
	border-radius: 3px;
}

[class^="movelogin-dot-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #FFF;
	vertical-align: middle;
	border-radius: 50%;
}
.movelogin-dot-bad {
	background: #cb234f;
}
.movelogin-dot-good {
	background: #1F9AF9;
}
.movelogin-dot-warning {
	background: #f19b12;
}

/**
 * Response notices
 * Default: success styles
 */

.movelogin-response-notice {
	margin: 1em auto;
	padding: 8px 10px 8px 20px;
	font-weight: bold;
	color: #1F9AF9;
	background: #DFF8F6;
	border-radius: 3px;
}
.movelogin-response-notice button {
	color: #1F9AF9;
	font-size: 16px;
}
.movelogin-response-notice:before {
	content: "\f00c";
	width: 30px;
	margin-right: 5px;
	vertical-align: -2px;
	font-family: 'movelogin';
	font-size: 18px;
	font-weight: normal;
}
.movelogin-response-notice p:first-child {
	margin-top: 0;
}
.movelogin-response-notice p:last-child {
	margin-bottom: 0;
}
.movelogin-rn-warning {
	color: #F39C12;
	background: #FDF6DB;
}
.movelogin-rn-warning button {
	color: #F39C12;
}
.movelogin-rn-warning:before {
	content: "\e91f";
}
.movelogin-rn-bad {
	color: #F2295E;
	background: #FDDFE7;
}
.movelogin-rn-bad button {
	color: #F2295E;
}
.movelogin-rn-bad:before {
	content: "\f00d";
}
.movelogin-rn-actions {
	flex-basis: 150px;
	text-align: right;
}

/**
 * === Blobs
 */
.movelogin-blob {
	margin: 2em 20px 1.5em;
	text-align: center;
}
.movelogin-blob.movelogin-counter-put {
	padding-bottom: 1.25em;
}
.movelogin-blob.movelogin-counter-put:after {
	position: absolute;
	left: 50%; bottom: 5px;
	width: 20px; height: 20px;
	margin-left: -10px;
	color: #1F9AF9;
	border: 2px solid #1F9AF9;
	border-radius: 20px;
	line-height: 20px;
	font-weight: bold;
}
.movelogin-blob-icon {
	padding: 10px 0;
}
.movelogin-blob-icon [class^="movelogin-icon-"]:before {
	color: #1F9AF9;
	font-size: 65px;
}
.movelogin-blob-title {
	margin: 0.9em 0 1.1em;
	font-size: 16px;
	font-weight: 600;
	color: #1F9AF9;
}

/* Horizontal blobs */
.movelogin-landscape-blob {
	padding: 20px;
}
.movelogin-landscape-blob .movelogin-col:first-child {
	flex-basis: 94px;
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
}
.movelogin-landscape-blob .movelogin-blob-desc {
	color: #5a626f;
}
.movelogin-landscape-blob i:before {
	font-size: 55px;
	color: rgba(90, 98, 111, 0.5);
}
.movelogin-landscape-blob .movelogin-icon-antispam:before {
	font-size: 40px;
}
.movelogin-pro-advantages .movelogin-blob-title {
	margin-bottom: 0;
	color: #F19B12;
}
.movelogin-pro-advantages .movelogin-blob-desc {
	margin-top: 0.5em;
}

/**
 * Commons settings styles
 */
.movelogin-setting-wrapper,
.movelogin_page_movelogin_settings .movelogin-notice {
	max-width: 100%;
	width: 1020px;
}
.movelogin-settings-header {
	padding: 20px 15px 20px;
	border-radius: 3px 3px 0 0;
}
.movelogin-col-rateus p {
	margin: 0;
}
.movelogin-col-rateus .movelogin-rateus-link {
	margin-top: .5em;
	font-size: 1.2em;
}
.movelogin-button-small a,
.movelogin-rateus-link a {
	text-decoration: none;
}
.movelogin-lb-name {
	padding: 0 20px;
	text-align: left;
	font-family: 'Arial Narrow';
}
.movelogin-header-mini .movelogin-lb-name {
	padding: 0 30px 0 5px;
}
.movelogin-lb-title {
	font-size: 26px;
}
.movelogin-header-mini .movelogin-lb-title {
	font-size: 18px;
}
.movelogin-settings-header .movelogin-text-medium {
	color: #FFF;
	margin: .5em 0 -.35em ;
}
.movelogin-header-mini .movelogin-lb-logo {
	-webkit-flex-basis: 78px;
	-ms-flex-preferred-size: 78px;
	flex-basis: 78px;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	padding-right: 15px;
	margin-bottom: -5px;
}
.movelogin-header-mini .movelogin-lb-logo img {
	width: 78px;
}
.movelogin-lb-logo span.dashicons.dashicons-shield-alt {
    font-size: 40px;
    line-height: 0.5em;
}
.movelogin-header-mini .movelogin-col-logo {
	-webkit-flex-basis: 190px;
	-ms-flex-preferred-size: 190px;
	flex-basis: 190px;
}

/* Module & Settings */
.movelogin-settings-section + .movelogin-settings-section {
	margin-top: 50px;
}
.movelogin-settings-section-header {
	padding-bottom: 15px;
	border-bottom: 2px solid #1F9AF9;
}
.movelogin-tab-content.movelogin-tab-content-addons .movelogin-settings-section-header{
	border-bottom: none;
}
.movelogin-tab-content.movelogin-tab-content-addons .movelogin-settings-section{
	border-bottom: 2px solid #1F9AF9;
}
.movelogin-settings-section-title {
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 600px;
	color: #393E46;
}
.movelogin-settings-section-title .button-actions-title.open .dashicons {
	transform: rotate(90deg);
}
.movelogin-settings-section-description {
	padding: 15px 40px 5px 0;
	color: #5A626F;
}
.secublock + .submit {
	margin: 1em 0 3em;
}
.secublock + .submit input,
.movelogin-settings-section .submit button,
.movelogin-mb-action.movelogin-mb-action [class^="movelogin-button"] {
	font-size: 0.95em;
	letter-spacing: 0.1em;
	box-shadow: 0 6px 12px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.05), 0 3px 4px rgba(0,0,0,.05);
}
.movelogin-button.shadow {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.125em;
	box-shadow: 0 6px 12px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.05), 0 3px 4px rgba(0,0,0,.05);
}
.movelogin-button.movelogin-button-mini {
	font-size: 11px;
}
.movelogin-setting-row {
	padding: 10px;
}
.movelogin-setting-row-hidden + .movelogin-setting-row,
.movelogin-setting-row + .movelogin-setting-row {
	margin-top: 20px;
	border-top: 1px solid #EEE;
}
.movelogin-form-table > .movelogin-setting-row:last-child {
	border-bottom: 0;
}
/* row with dependance */
.movelogin-setting-row[class*=" depends-"] {
	padding: 5px 20px 5px 18px;
	margin: 0px 0 20px 50px;
	border-top: 0;
	border-left: 2px solid #1F9AF9;
	background-color: #FFF;
}
.movelogin-setting-row[class*=" depends-"] .movelogin-setting-row-title {
	margin-top: 0;
}
.movelogin-setting-row.movelogin-pro-row a {
	color: #f7ab13;
}
.movelogin-setting-row.movelogin-pro-row a[class^="movelogin-button"] {
	color: #FFF;
}
.movelogin-setting-row.movelogin-pro-row p {
	color: #aaa;
}
.movelogin-setting-row.movelogin-pro-row .movelogin-get-pro {
	color: #000;
}
.movelogin-setting-row-title {
	margin: 10px 0;
	font-size: 16px;
	font-weight: bold;
	color: #1F9AF9;
}
.movelogin-flex h5{
	font-size: 14px;
	font-weight: 800;
}
label.movelogin-setting-row-title {
	display: block;
}
.movelogin-pro-row .movelogin-setting-row-title {
	color: #F7AB13;
}
.movelogin-setting-row-title + .description {
	margin-bottom: 1em;
}

.movelogin-setting-content-col .description.help {
	padding-left: 5px;
	border-left: 3px solid #1F9AF9;
}
.movelogin-setting-content-col .description.help + ul {
	padding: 5px 0 0 3px;
	border-left: 3px solid #1F9AF9;
	margin: -5px 0 5px;
	color: #646970;
	font-size: 13px;
	font-weight: 400;
}
.movelogin-setting-content-col .description.help + ul li {
	list-style: circle;
	list-style-position: inside;
}
.movelogin-setting-content-col .description.warning {
	padding-left: 5px;
	border-left: 3px solid #CB234F;
}
.movelogin-setting-content-col .description.desc {
	padding-left: 5px;
	border-left: 3px solid #F2F2F6;
}
.description.desc {
	padding-left: 32px;
	color: #5A626F;
	font-style: italic;
}
.fieldtype-radios p {
	line-height: 2.3em;
}

/**
 * === Existing
 */

.wrap h2.nav-tab-wrapper.hide-if-no-js {
	padding: 0;
}

.form-table {
	table-layout: fixed;
}

.movelogin-wrapper {
	max-width: 100%;
	padding-top: 10px;
	overflow: hidden;
}

/* With ads */
.movelogin-wrapper.movelogin-has-sideads,
.movelogin-setting-wrapper.movelogin-has-sideads {
	display: flex;
}

/* Ads sidebar */
.movelogin-sideads {
	flex-basis: 280px;
	flex-grow: 0;
	flex-shrink: 0;
	width: 280px;
	margin-left: 20px;
	min-width: 0;
}
.movelogin-sideads > div + div {
	margin-top: 2em;
}

/* Pro ad */
.movelogin-pro-ad {
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 22px 15px;
}
.movelogin-pro-ad > * {
	position: relative;
}
.movelogin-pro-ad .icon-movelogin {
	position: absolute;
	right: -38px;
	bottom: -35px;
	font-size: 250px;
	color: #383D46;
}
.movelogin-pro-ad .movelogin-text-medium {
	margin-bottom: 0;
}
.movelogin-pro-ad .movelogin-text-medium + p {
	margin-top: 0;
}
.movelogin-pro-ad .movelogin-button-getpro {
	margin-top: 2em;
	margin-bottom: 1em;
}

/* Mailing */
.movelogin-ad-header {
	padding: 10px 25px;
	border-bottom: 1px solid #CCCCCC;
	background: #ECF0F1;
}
.movelogin-ad-header p {
	font-size: 1.425em;
}
.movelogin-ad-header span {
	flex-basis: 40px;
	flex-grow: 0;
}
.movelogin-ad-header i {
	font-size: 2em;
	vertical-align: -5px;
}
.movelogin-ad-content-padded {
	padding: 20px 25px 18px;
}
.movelogin-ad-content {
	background: #FFF;
	line-height: 0;
}
.movelogin-ad-content > :first-child {
	margin-top: 0;
}
.movelogin-ad-content input,
.movelogin-ad-content button {
	width: 100%;
}
.movelogin-ad-content .movelogin-button {
	box-shadow: 0 6px 12px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.05), 0 3px 4px rgba(0,0,0,.05);
}

.movelogin-product-ads .movelogin-button {
	font-size: .775em;
	letter-spacing: 0.1em;
	text-shadow: 0 0 3px rgba(0,0,0,.15);
}
.movelogin-product-ads-padded {
	padding: 25px 25px 10px;
}
.movelogin-product-ads p {
	color: #FFF;
	font-weight: bold;
}
.movelogin-product-ads .movelogin-catch {
	font-size: 11px;
}
.movelogin-product-ads .movelogin-catch + p {
	margin-right: 12%;
	font-size: 1em;
}

.toplevel_page_movelogin_scanners .movelogin-notice,
.toplevel_page_movelogin_scanners .notice,
.settings_page_movelogin_modules .movelogin-notice,
.settings_page_movelogin_modules .notice {
	box-sizing: border-box; /* 'cause WordPress don't do it by default. */
/*	width: 1078px;*/
	max-width: 100%;
}

p.description,
div.description {
	font-weight: 400;
}
div.description {
	font-size: 13px;
	font-style: italic;
	color: #666;
	line-height: 1.5;
	margin-bottom: 5px;
}
.description ul,
.description ol {
	padding-left: 40px;
	list-style: initial;
}

p.submit {
	margin-top: 0;
}


.no-button,
.no-button:hover,
.no-button:focus {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	padding: 0;
	border: none;
	margin: 0;
	font-family: inherit;
	font-size: 1em;
	line-height: inherit;
	text-align: left;
	text-transform: none;
	text-decoration: none;
	color: inherit;
	text-shadow: none;
	background: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.js [class*="depends-"] {
	display: none;
}

pre, code, samp, kbd {
	max-width: 100%;
	height: auto;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	line-height: inherit;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
	  -epub-hyphens: none;
	-webkit-hyphens: none;
	   -moz-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
}
code, samp, kbd {
	display: inline-block;
	white-space: pre-wrap;
}
pre {
	padding: 0;
	border: solid 3px transparent;
	border-width: 3px 5px;
	overflow: auto;
	clear: both;
	background: #eaeaea;
	background: rgba(0,0,0,0.07);
}
pre,
pre * {
	word-wrap: normal;
}
pre code, pre samp, pre kbd {
	max-width: none;
	padding: 0 1em 0 0;
	border: none;
	border-radius: 0;
	background: none;
}
/***/
.movelogin-inline-spinner {
	display: inline-block;
	vertical-align: top;
	visibility: hidden;
	float: none;
}
.movelogin-inline-spinner.hidden {
	display: none;
}
.working + .movelogin-inline-spinner {
	visibility: visible;
}
/***/
table.fixed .column-critic {
	width: 8em;
}
table.fixed .column-date {
	width: 11em;
}
table.fixed .column-counter {
	width: 7em;
}
.column-title .movelogin-inline-spinner {
	float: right;
}
[class^="movelogin-"] .hidden,
[class*=" movelogin-"] .hidden {
	display: none;
}

/**
 * === Sweet Alert (swal) some overwrite
 */
.sweet-overlay.sweet-overlay,
.sweet-alert.sweet-alert {
	z-index: 99999
}
.movelogin-swal2.movelogin-swal2 p {
	font-weight: 400;
}
.movelogin-swal2.sweet-alert {
	border-radius: 3px;
}
.movelogin-swal2.sweet-alert .sweet-icon {
	margin: 12px auto;
}
.movelogin-swal2.sweet-alert h2 {
	margin-bottom: .75em;
	font-size: 23px;
	line-height: 1.7;
	font-weight: 600;
	color: #1F9AF9;
}
.movelogin-swal2.sweet-alert .sweet-confirm,
.movelogin-swal2.sweet-alert .sweet-cancel {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	border-radius: 3px;
}
.movelogin-swal2.sweet-alert .sweet-confirm {
	background: #1F9AF9!important;
}
.movelogin-swal2.sweet-alert .sweet-confirm:hover,
.movelogin-swal2.sweet-alert .sweet-confirm:focus {
	background: #1F9AF9!important;
}
.movelogin-swal2.sweet-alert .sweet-cancel {
	background: #5a626f!important;
}
.movelogin-swal2.sweet-alert .sweet-cancel:hover,
.movelogin-swal2.sweet-alert .sweet-cancel:hover {
	background: #393e46!important;
}
.movelogin-swal2 .movelogin-button {
	letter-spacing: 0.1em;
	box-shadow: 0 6px 12px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.05), 0 3px 4px rgba(0,0,0,.05);
}

.movelogin-swal2.movelogin-swal-dark-header .sweet-close {
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #CFCFCF;
	color: #23282d;
	font-weight: bold;
}
